@using Microsoft.AspNetCore.Mvc.Localization
@using SignalRTieredDemo.Localization
@inject IHtmlLocalizer<SignalRTieredDemoResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
